.input {
  border: 3px solid var(--color-black);
  margin: 0.4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input--large {
  min-width: 540px;
  height: 40px;
  font-size: 1.3rem;
  padding: 0.4rem;
}

.input--small {
  width: 260px;
  height: 30px;
  padding: 0.2rem;
  font-size: 1rem;
}

@media screen and (max-width: 580px) {
  .input--large {
    min-width: 280px;
  }
}
