.link {
  position: relative;
  text-decoration: none;
  color: var(--color-link);
  font-size: 1.4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-link-underline);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .link:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .link {
    font-size: 1.1rem;
  }
}
