.heading {
  font-size: 2.4rem;
  text-align: center;
  font-family: Sono;
}

.heading--info {
  color: var(--color-blue);
}

.heading--success {
  color: var(--color-green);
}

.heading--error {
  color: var(--color-red);
}

.heading--subtitle {
  color: var(--color-black);
  font-size: 1.6rem;
}

@media screen and (max-width: 580px) {
  .heading {
    font-size: 1.8rem;
  }
}
