.main {
  background: var(--color-white);
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 7rem;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
